<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="Northwind" connectionString="Data Source=10.125.6.71\sqlilearn;Initial Catalog=Northwind;User ID=sqluser;Password=sqluser" />
      <add name="AdventureWorks" connectionString="Data Source=VM-iLearn;Initial Catalog=AdventureWorks;User ID=sa;Password=igate@123;" />
      <add name="DN05May" connectionString="Data Source=vm-iLearn;Initial Catalog=Training;User ID=lab3;Password=lab3@igate" />
    </connectionStrings>
</configuration>